<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CheckForSoftwareUpdatesIncludeBetas</key>
	<true/>
	<key>ClearPasteboardAfterTimeout</key>
	<false/>
	<key>Enable3rdPartyIntegration</key>
	<true/>
	<key>KeepHelperRunning</key>
	<true/>
	<key>LockOnIdle</key>
	<false/>
	<key>LockOnMainAppExit</key>
	<false/>
	<key>LockOnScreenSaver</key>
	<false/>
	<key>LockOnSleep</key>
	<false/>
	<key>LockOnUserSwitch</key>
	<false/>
	<key>ShowItemCounts</key>
	<integer>1</integer>
	<key>ShowRichIcons</key>
	<true/>
	<key>ShowStatusItem</key>
	<true/>
</dict>
</plist>
